<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
<title>健康数据展示</title>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="/css/bootstrap.min.css" />
<link rel="stylesheet" href="/css/bootstrap-responsive.min.css" />
<link rel="stylesheet" href="/css/matrix-style.css" />
<link rel="stylesheet" href="/css/matrix-media.css" />
<link href="/font-awesome/css/font-awesome.css" rel="stylesheet" />

</head>
<body>
<!--引入模板-->
<div th:insert="~{/frame::home}"></div>

<!--主页-->
<div id="content">
  <div id="content-header">
    <div id="breadcrumb"> <a th:href="@{/index}" title="返回首页" class="tip-bottom"><i class="icon-home"></i> 主页</a></div>
  </div>

  <!--数据展示-->
  <canvas id="myChart" ></canvas>






</div>

<script src="/js/jquery.min.js"></script>
<script src="/js/Chart.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/jquery.flot.min.js"></script>
<script src="/js/jquery.flot.pie.min.js"></script>
<script src="/js/matrix.charts.js"></script>
<script src="/js/jquery.flot.resize.min.js"></script>
<script src="/js/matrix.js"></script>
<script src="/js/jquery.peity.min.js"></script>
<script src="/js/matrix.dashboard.js"></script>
</body>


<script  th:inline="javascript">
    var ctx = document.getElementById('myChart').getContext('2d');
    var chart = new Chart(ctx, {
        // 要创建的图表类型
        type: 'line',

        // 数据集
        data: {
            labels: [[${date}]],
            datasets: [{
                label: [[${title}]],
                backgroundColor: 'rgb(100,149,237)',
                borderColor: 'rgb(100,149,237)',
                data: [[${value}]],
            }]
        },

        // 配置选项
        options: {}
    });
</script>
</html>