<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
<title>健康数据展示</title>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/css/bootstrap-responsive.min.css" />
  <link rel="stylesheet" href="/css/fullcalendar.css" />
  <link rel="stylesheet" href="/css/matrix-style.css" />
  <link rel="stylesheet" href="/css/matrix-media.css" />
  <link href="/font-awesome/css/font-awesome.css" rel="stylesheet" />
  <link rel="stylesheet" href="/css/jquery.gritter.css" />
</head>
<body>
<!--引入模板-->
<div th:insert="~{/frame::home}"></div>

<!--主页-->
<div id="content">
  <div id="content-header">
    <div id="breadcrumb"> <a th:href="@{/index}" title="返回首页" class="tip-bottom"><i class="icon-home"></i> 主页</a></div>
  </div>
  <div class="alert alert-warning" role="alert" style="text-align: center;font-size: 25px">健 康 数 据</div>
    <!--数据展示-->
  <div id="InputOne">

  </div>
    <div>
        <input type="text" th:value="${username}">
    </div>
</div>

<script src="js/excanvas.min.js"></script>
<script src="js/jquery.min.js"></script>
<script src="js/jquery.ui.custom.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.flot.min.js"></script>
<script src="js/jquery.flot.resize.min.js"></script>
<script src="js/jquery.peity.min.js"></script>
<script src="js/fullcalendar.min.js"></script>
<script src="js/matrix.js"></script>
<script src="js/matrix.dashboard.js"></script>
<script src="js/jquery.gritter.min.js"></script>
<script src="js/matrix.interface.js"></script>
<script src="js/matrix.chat.js"></script>
<script src="js/jquery.validate.js"></script>
<script src="js/matrix.form_validation.js"></script>
<script src="js/jquery.wizard.js"></script>
<script src="js/jquery.uniform.js"></script>
<script src="js/select2.min.js"></script>
<script src="js/matrix.popover.js"></script>
<script src="js/jquery.dataTables.min.js"></script>
<script src="js/matrix.tables.js"></script>
<script src="/js/echarts.js"></script>
</body>
<script  th:inline="javascript">
        $.ajax({
            url:"/charts",
            data:{},
            success:function (data) {
                var listdata =data.list;
                console.log(listdata)
            }
        })
        var i =0;
        if([[${datelist0}]] != null){
            var dataDate = "<a href='/updateHealth?id=[[${healthId0}]]' title='当前数据添加或修改功能' class='btn btn-success'  style='float: right'>修改/添加</a><br><div id='main"+i+"' style='height: 400px;width:100%' ></div>";
            $("#InputOne").append(dataDate);

            i++
            var myChart = echarts.init(document.getElementById("main0"));
            var option = {
                title: {
                    text: "参考区间:"+[[${max0}]]+"—"+[[${min0}]]
                },
                color: [[${color0}]],
                tooltip: {
                    trigger: 'axis',
                    axisPointer: {            // 坐标轴指示器，坐标轴触发有效
                        type: 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
                    }
                },
                grid: {
                    left: '3%',
                    right: '4%',
                    bottom: '3%',
                    containLabel: true
                },
                xAxis: [
                    {
                        type: 'category',
                        data: [[${datelist0}]],
                        axisTick: {
                            alignWithLabel: true
                        }
                    }
                ],
                yAxis: [
                    {
                        type: 'value'
                    }
                ],
                legend: {

                },
                series: [
                    {
                        name: [[${userHealthDate0}]],
                        type: [[${showType0}]],
                        barWidth: '60%',
                        data: [[${valuelist0}]]
                    }
                ]
            };


            myChart.setOption(option);
    }
        if([[${datelist1}]] != null){
            var dataDate = "<a href='/updateHealth?id=[[${healthId1}]]' title='当前数据添加或修改功能' class='btn btn-success'  style='float: right'>修改/添加</a><br><div id='main"+i+"' style='height: 400px;width:100%' ></div>";
            $("#InputOne").append(dataDate);

            i++
            var myChart = echarts.init(document.getElementById("main1"));
            var option = {
                title: {
                    text: "参考区间:"+[[${max1}]]+"—"+[[${min1}]]
                },
                color: [[${color1}]],
                tooltip: {
                    trigger: 'axis',
                    axisPointer: {            // 坐标轴指示器，坐标轴触发有效
                        type: 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
                    }
                },
                grid: {
                    left: '3%',
                    right: '4%',
                    bottom: '3%',
                    containLabel: true
                },
                xAxis: [
                    {
                        type: 'category',
                        data: [[${datelist1}]],
                        axisTick: {
                            alignWithLabel: true
                        }
                    }
                ],
                yAxis: [
                    {
                        type: 'value'
                    }
                ],
                legend: {

                },
                series: [
                    {
                        name: [[${userHealthDate1}]],
                        type: [[${showType1}]],
                        barWidth: '60%',
                        data: [[${valuelist1}]]
                    }
                ]
            };


            myChart.setOption(option);
        }
        if([[${datelist2}]] != null){
            var dataDate = "<a href='/updateHealth?id=[[${healthId2}]]' title='当前数据添加或修改功能' class='btn btn-success'  style='float: right'>修改/添加</a><br><div id='main"+i+"' style='height: 400px;width:100%' ></div>";
            $("#InputOne").append(dataDate);

            i++
            var myChart = echarts.init(document.getElementById("main2"));
            var option = {
                title: {
                    text: "参考区间:"+[[${max2}]]+"—"+[[${min2}]]
                },
                color: [[${color2}]],
                tooltip: {
                    trigger: 'axis',
                    axisPointer: {            // 坐标轴指示器，坐标轴触发有效
                        type: 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
                    }
                },
                grid: {
                    left: '3%',
                    right: '4%',
                    bottom: '3%',
                    containLabel: true
                },
                xAxis: [
                    {
                        type: 'category',
                        data: [[${datelist2}]],
                        axisTick: {
                            alignWithLabel: true
                        }
                    }
                ],
                yAxis: [
                    {
                        type: 'value'
                    }
                ],
                legend: {

                },
                series: [
                    {
                        name: [[${userHealthDate2}]],
                        type: [[${showType2}]],
                        barWidth: '60%',
                        data: [[${valuelist2}]]
                    }
                ]
            };


            myChart.setOption(option);
        }
        if([[${datelist3}]] != null){
            var dataDate = "<a href='/updateHealth?id=[[${healthId3}]]' title='当前数据添加或修改功能' class='btn btn-success'  style='float: right'>修改/添加</a><br><div id='main"+i+"' style='height: 400px;width:100%' ></div>";
            $("#InputOne").append(dataDate);

            i++
            var myChart = echarts.init(document.getElementById("main3"));
            var option = {
                title: {
                    text: "参考区间:"+[[${max3}]]+"—"+[[${min3}]]
                },
                color: [[${color3}]],
                tooltip: {
                    trigger: 'axis',
                    axisPointer: {            // 坐标轴指示器，坐标轴触发有效
                        type: 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
                    }
                },
                grid: {
                    left: '3%',
                    right: '4%',
                    bottom: '3%',
                    containLabel: true
                },
                xAxis: [
                    {
                        type: 'category',
                        data: [[${datelist3}]],
                        axisTick: {
                            alignWithLabel: true
                        }
                    }
                ],
                yAxis: [
                    {
                        type: 'value'
                    }
                ],
                legend: {

                },
                series: [
                    {
                        name: [[${userHealthDate3}]],
                        type: [[${showType3}]],
                        barWidth: '60%',
                        data: [[${valuelist3}]]
                    }
                ]
            };


            myChart.setOption(option);
        }
        if([[${datelist4}]] != null){
            var dataDate = "<a href='/updateHealth?id=[[${healthId4}]]' title='当前数据添加或修改功能' class='btn btn-success'  style='float: right'>修改/添加</a><br><div id='main"+i+"' style='height: 400px;width:100%' ></div>";
            $("#InputOne").append(dataDate);

            i++
            var myChart = echarts.init(document.getElementById("main4"));
            var option = {
                title: {
                    text: "参考区间:"+[[${max4}]]+"—"+[[${min4}]]
                },
                color: [[${color4}]],
                tooltip: {
                    trigger: 'axis',
                    axisPointer: {            // 坐标轴指示器，坐标轴触发有效
                        type: 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
                    }
                },
                grid: {
                    left: '3%',
                    right: '4%',
                    bottom: '3%',
                    containLabel: true
                },
                xAxis: [
                    {
                        type: 'category',
                        data: [[${datelist4}]],
                        axisTick: {
                            alignWithLabel: true
                        }
                    }
                ],
                yAxis: [
                    {
                        type: 'value'
                    }
                ],
                legend: {

                },
                series: [
                    {
                        name: [[${userHealthDate4}]],
                        type: [[${showType4}]],
                        barWidth: '60%',
                        data: [[${valuelist4}]]
                    }
                ]
            };


            myChart.setOption(option);
        }
        if([[${datelist5}]] != null){
            var dataDate = "<a href='/updateHealth?id=[[${healthId5}]]' title='当前数据添加或修改功能' class='btn btn-success'  style='float: right'>修改/添加</a><br><div id='main"+i+"' style='height: 400px;width:100%' ></div>";
            $("#InputOne").append(dataDate);

            i++
            var myChart = echarts.init(document.getElementById("main5"));
            var option = {
                title: {
                    text: "参考区间:"+[[${max5}]]+"—"+[[${min5}]]
                },
                color: [[${color5}]],
                tooltip: {
                    trigger: 'axis',
                    axisPointer: {            // 坐标轴指示器，坐标轴触发有效
                        type: 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
                    }
                },
                grid: {
                    left: '3%',
                    right: '4%',
                    bottom: '3%',
                    containLabel: true
                },
                xAxis: [
                    {
                        type: 'category',
                        data: [[${datelist5}]],
                        axisTick: {
                            alignWithLabel: true
                        }
                    }
                ],
                yAxis: [
                    {
                        type: 'value'
                    }
                ],
                legend: {

                },
                series: [
                    {
                        name: [[${userHealthDate5}]],
                        type: [[${showType5}]],
                        barWidth: '60%',
                        data: [[${valuelist5}]]
                    }
                ]
            };


            myChart.setOption(option);
        }
        if([[${datelist6}]] != null){
            var dataDate = "<a href='/updateHealth?id=[[${healthId6}]]' title='当前数据添加或修改功能' class='btn btn-success'  style='float: right'>修改/添加</a><br><div id='main"+i+"' style='height: 400px;width:100%' ></div>";
            $("#InputOne").append(dataDate);

            i++
            var myChart = echarts.init(document.getElementById("main6"));
            var option = {
                title: {
                    text: "参考区间:"+[[${max6}]]+"—"+[[${min6}]]
                },
                color: [[${color6}]],
                tooltip: {
                    trigger: 'axis',
                    axisPointer: {            // 坐标轴指示器，坐标轴触发有效
                        type: 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
                    }
                },
                grid: {
                    left: '3%',
                    right: '4%',
                    bottom: '3%',
                    containLabel: true
                },
                xAxis: [
                    {
                        type: 'category',
                        data: [[${datelist6}]],
                        axisTick: {
                            alignWithLabel: true
                        }
                    }
                ],
                yAxis: [
                    {
                        type: 'value'
                    }
                ],
                legend: {

                },
                series: [
                    {
                        name: [[${userHealthDate6}]],
                        type: [[${showType6}]],
                        barWidth: '60%',
                        data: [[${valuelist6}]]
                    }
                ]
            };


            myChart.setOption(option);
        }
        if([[${datelist7}]] != null){
            var dataDate = "<a href='/updateHealth?id=[[${healthId7}]]' title='当前数据添加或修改功能' class='btn btn-success'  style='float: right'>修改/添加</a><br><div id='main"+i+"' style='height: 400px;width:100%' ></div>";
            $("#InputOne").append(dataDate);

            i++
            var myChart = echarts.init(document.getElementById("main7"));
            var option = {
                title: {
                    text: "参考区间:"+[[${max7}]]+"—"+[[${min7}]]
                },
                color: [[${color7}]],
                tooltip: {
                    trigger: 'axis',
                    axisPointer: {            // 坐标轴指示器，坐标轴触发有效
                        type: 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
                    }
                },
                grid: {
                    left: '3%',
                    right: '4%',
                    bottom: '3%',
                    containLabel: true
                },
                xAxis: [
                    {
                        type: 'category',
                        data: [[${datelist7}]],
                        axisTick: {
                            alignWithLabel: true
                        }
                    }
                ],
                yAxis: [
                    {
                        type: 'value'
                    }
                ],
                legend: {

                },
                series: [
                    {
                        name: [[${userHealthDate7}]],
                        type: [[${showType7}]],
                        barWidth: '60%',
                        data: [[${valuelist7}]]
                    }
                ]
            };


            myChart.setOption(option);
        }
        if([[${datelist8}]] != null){
            var dataDate = "<a href='/updateHealth?id=[[${healthId8}]]' title='当前数据添加或修改功能' class='btn btn-success'  style='float: right'>修改/添加</a><br><div id='main"+i+"' style='height: 400px;width:100%' ></div>";
            $("#InputOne").append(dataDate);

            i++
            var myChart = echarts.init(document.getElementById("main8"));
            var option = {
                title: {
                    text: "参考区间:"+[[${max8}]]+"—"+[[${min8}]]
                },
                color: [[${color8}]],
                tooltip: {
                    trigger: 'axis',
                    axisPointer: {            // 坐标轴指示器，坐标轴触发有效
                        type: 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
                    }
                },
                grid: {
                    left: '3%',
                    right: '4%',
                    bottom: '3%',
                    containLabel: true
                },
                xAxis: [
                    {
                        type: 'category',
                        data: [[${datelist8}]],
                        axisTick: {
                            alignWithLabel: true
                        }
                    }
                ],
                yAxis: [
                    {
                        type: 'value'
                    }
                ],
                legend: {

                },
                series: [
                    {
                        name: [[${userHealthDate8}]],
                        type: [[${showType8}]],
                        barWidth: '60%',
                        data: [[${valuelist8}]]
                    }
                ]
            };


            myChart.setOption(option);
        }
        if([[${datelist9}]] != null){
            var dataDate = "<a href='/updateHealth?id=[[${healthId9}]]' title='当前数据添加或修改功能' class='btn btn-success'  style='float: right'>修改/添加</a><br><div id='main"+i+"' style='height: 400px;width:100%' ></div>";
            $("#InputOne").append(dataDate);

            i++
            var myChart = echarts.init(document.getElementById("main9"));
            var option = {
                title: {
                    text: "参考区间:"+[[${max9}]]+"—"+[[${min9}]]
                },
                color: [[${color9}]],
                tooltip: {
                    trigger: 'axis',
                    axisPointer: {            // 坐标轴指示器，坐标轴触发有效
                        type: 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
                    }
                },
                grid: {
                    left: '3%',
                    right: '4%',
                    bottom: '3%',
                    containLabel: true
                },
                xAxis: [
                    {
                        type: 'category',
                        data: [[${datelist9}]],
                        axisTick: {
                            alignWithLabel: true
                        }
                    }
                ],
                yAxis: [
                    {
                        type: 'value'
                    }
                ],
                legend: {

                },
                series: [
                    {
                        name: [[${userHealthDate9}]],
                        type: [[${showType9}]],
                        barWidth: '60%',
                        data: [[${valuelist9}]]
                    }
                ]
            };


            myChart.setOption(option);
        }
        if([[${datelist10}]] != null){
            var dataDate = "<a href='/updateHealth?id=[[${healthId10}]]' title='当前数据添加或修改功能' class='btn btn-success'  style='float: right'>修改/添加</a><br><div id='main"+i+"' style='height: 400px;width:100%' ></div>";
            $("#InputOne").append(dataDate);

            i++
            var myChart = echarts.init(document.getElementById("main10"));
            var option = {
                title: {
                    text: "参考区间:"+[[${max10}]]+"—"+[[${min10}]]
                },
                color: [[${color10}]],
                tooltip: {
                    trigger: 'axis',
                    axisPointer: {            // 坐标轴指示器，坐标轴触发有效
                        type: 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
                    }
                },
                grid: {
                    left: '3%',
                    right: '4%',
                    bottom: '3%',
                    containLabel: true
                },
                xAxis: [
                    {
                        type: 'category',
                        data: [[${datelist10}]],
                        axisTick: {
                            alignWithLabel: true
                        }
                    }
                ],
                yAxis: [
                    {
                        type: 'value'
                    }
                ],
                legend: {

                },
                series: [
                    {
                        name: [[${userHealthDate10}]],
                        type: [[${showType10}]],
                        barWidth: '60%',
                        data: [[${valuelist10}]]
                    }
                ]
            };


            myChart.setOption(option);
        }
        if([[${datelist11}]] != null){
            var dataDate = "<a href='/updateHealth?id=[[${healthId11}]]' title='当前数据添加或修改功能' class='btn btn-success'  style='float: right'>修改/添加</a><br><div id='main"+i+"' style='height: 400px;width:100%' ></div>";
            $("#InputOne").append(dataDate);

            i++
            var myChart = echarts.init(document.getElementById("main11"));
            var option = {
                title: {
                    text: "参考区间:"+[[${max11}]]+"—"+[[${min11}]]
                },
                color: [[${color11}]],
                tooltip: {
                    trigger: 'axis',
                    axisPointer: {            // 坐标轴指示器，坐标轴触发有效
                        type: 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
                    }
                },
                grid: {
                    left: '3%',
                    right: '4%',
                    bottom: '3%',
                    containLabel: true
                },
                xAxis: [
                    {
                        type: 'category',
                        data: [[${datelist11}]],
                        axisTick: {
                            alignWithLabel: true
                        }
                    }
                ],
                yAxis: [
                    {
                        type: 'value'
                    }
                ],
                legend: {

                },
                series: [
                    {
                        name: [[${userHealthDate11}]],
                        type: [[${showType11}]],
                        barWidth: '60%',
                        data: [[${valuelist11}]]
                    }
                ]
            };


            myChart.setOption(option);
        }
        if([[${datelist12}]] != null){
            var dataDate = "<a href='/updateHealth?id=[[${healthId12}]]' title='当前数据添加或修改功能' class='btn btn-success'  style='float: right'>修改/添加</a><br><div id='main"+i+"' style='height: 400px;width:100%' ></div>";
            $("#InputOne").append(dataDate);

            i++
            var myChart = echarts.init(document.getElementById("main12"));
            var option = {
                title: {
                    text: "参考区间:"+[[${max12}]]+"—"+[[${min12}]]
                },
                color: [[${color12}]],
                tooltip: {
                    trigger: 'axis',
                    axisPointer: {            // 坐标轴指示器，坐标轴触发有效
                        type: 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
                    }
                },
                grid: {
                    left: '3%',
                    right: '4%',
                    bottom: '3%',
                    containLabel: true
                },
                xAxis: [
                    {
                        type: 'category',
                        data: [[${datelist12}]],
                        axisTick: {
                            alignWithLabel: true
                        }
                    }
                ],
                yAxis: [
                    {
                        type: 'value'
                    }
                ],
                legend: {

                },
                series: [
                    {
                        name: [[${userHealthDate12}]],
                        type: [[${showType12}]],
                        barWidth: '60%',
                        data: [[${valuelist12}]]
                    }
                ]
            };


            myChart.setOption(option);
        }
        if([[${datelist13}]] != null){
            var dataDate = "<a href='/updateHealth?id=[[${healthId13}]]' title='当前数据添加或修改功能' class='btn btn-success'  style='float: right'>修改/添加</a><br><div id='main"+i+"' style='height: 400px;width:100%' ></div>";
            $("#InputOne").append(dataDate);

            i++
            var myChart = echarts.init(document.getElementById("main13"));
            var option = {
                title: {
                    text: "参考区间:"+[[${max13}]]+"—"+[[${min13}]]
                },
                color: [[${color13}]],
                tooltip: {
                    trigger: 'axis',
                    axisPointer: {            // 坐标轴指示器，坐标轴触发有效
                        type: 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
                    }
                },
                grid: {
                    left: '3%',
                    right: '4%',
                    bottom: '3%',
                    containLabel: true
                },
                xAxis: [
                    {
                        type: 'category',
                        data: [[${datelist13}]],
                        axisTick: {
                            alignWithLabel: true
                        }
                    }
                ],
                yAxis: [
                    {
                        type: 'value'
                    }
                ],
                legend: {

                },
                series: [
                    {
                        name: [[${userHealthDate13}]],
                        type: [[${showType13}]],
                        barWidth: '60%',
                        data: [[${valuelist13}]]
                    }
                ]
            };


            myChart.setOption(option);
        }
        if([[${datelist14}]] != null){
            var dataDate = "<a href='/updateHealth?id=[[${healthId14}]]' title='当前数据添加或修改功能' class='btn btn-success'  style='float: right'>修改/添加</a><br><div id='main"+i+"' style='height: 400px;width:100%' ></div>";
            $("#InputOne").append(dataDate);

            i++
            var myChart = echarts.init(document.getElementById("main14"));
            var option = {
                title: {
                    text: "参考区间:"+[[${max14}]]+"—"+[[${min14}]]
                },
                color: [[${color14}]],
                tooltip: {
                    trigger: 'axis',
                    axisPointer: {            // 坐标轴指示器，坐标轴触发有效
                        type: 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
                    }
                },
                grid: {
                    left: '3%',
                    right: '4%',
                    bottom: '3%',
                    containLabel: true
                },
                xAxis: [
                    {
                        type: 'category',
                        data: [[${datelist14}]],
                        axisTick: {
                            alignWithLabel: true
                        }
                    }
                ],
                yAxis: [
                    {
                        type: 'value'
                    }
                ],
                legend: {

                },
                series: [
                    {
                        name: [[${userHealthDate14}]],
                        type: [[${showType14}]],
                        barWidth: '60%',
                        data: [[${valuelist14}]]
                    }
                ]
            };


            myChart.setOption(option);
        }
        if([[${datelist15}]] != null){
            var dataDate = "<a href='/updateHealth?id=[[${healthId15}]]' title='当前数据添加或修改功能' class='btn btn-success'  style='float: right'>修改/添加</a><br><div id='main"+i+"' style='height: 400px;width:100%' ></div>";
            $("#InputOne").append(dataDate);

            i++
            var myChart = echarts.init(document.getElementById("main15"));
            var option = {
                title: {
                    text: "参考区间:"+[[${max15}]]+"—"+[[${min15}]]
                },
                color: [[${color15}]],
                tooltip: {
                    trigger: 'axis',
                    axisPointer: {            // 坐标轴指示器，坐标轴触发有效
                        type: 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
                    }
                },
                grid: {
                    left: '3%',
                    right: '4%',
                    bottom: '3%',
                    containLabel: true
                },
                xAxis: [
                    {
                        type: 'category',
                        data: [[${datelist15}]],
                        axisTick: {
                            alignWithLabel: true
                        }
                    }
                ],
                yAxis: [
                    {
                        type: 'value'
                    }
                ],
                legend: {

                },
                series: [
                    {
                        name: [[${userHealthDate15}]],
                        type: [[${showType15}]],
                        barWidth: '60%',
                        data: [[${valuelist15}]]
                    }
                ]
            };


            myChart.setOption(option);
        }
        if([[${datelist16}]] != null){
            var dataDate = "<a href='/updateHealth?id=[[${healthId16}]]' title='当前数据添加或修改功能' class='btn btn-success'  style='float: right'>修改/添加</a><br><div id='main"+i+"' style='height: 400px;width:100%' ></div>";
            $("#InputOne").append(dataDate);

            i++
            var myChart = echarts.init(document.getElementById("main16"));
            var option = {
                title: {
                    text: "参考区间:"+[[${max16}]]+"—"+[[${min16}]]
                },
                color: [[${color16}]],
                tooltip: {
                    trigger: 'axis',
                    axisPointer: {            // 坐标轴指示器，坐标轴触发有效
                        type: 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
                    }
                },
                grid: {
                    left: '3%',
                    right: '4%',
                    bottom: '3%',
                    containLabel: true
                },
                xAxis: [
                    {
                        type: 'category',
                        data: [[${datelist16}]],
                        axisTick: {
                            alignWithLabel: true
                        }
                    }
                ],
                yAxis: [
                    {
                        type: 'value'
                    }
                ],
                legend: {

                },
                series: [
                    {
                        name: [[${userHealthDate16}]],
                        type: [[${showType16}]],
                        barWidth: '60%',
                        data: [[${valuelist16}]]
                    }
                ]
            };


            myChart.setOption(option);
        }
        if([[${datelist17}]] != null){
            var dataDate = "<a href='/updateHealth?id=[[${healthId17}]]' title='当前数据添加或修改功能' class='btn btn-success'  style='float: right'>修改/添加</a><br><div id='main"+i+"' style='height: 400px;width:100%' ></div>";
            $("#InputOne").append(dataDate);

            i++
            var myChart = echarts.init(document.getElementById("main17"));
            var option = {
                title: {
                    text: "参考区间:"+[[${max17}]]+"—"+[[${min17}]]
                },
                color: [[${color17}]],
                tooltip: {
                    trigger: 'axis',
                    axisPointer: {            // 坐标轴指示器，坐标轴触发有效
                        type: 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
                    }
                },
                grid: {
                    left: '3%',
                    right: '4%',
                    bottom: '3%',
                    containLabel: true
                },
                xAxis: [
                    {
                        type: 'category',
                        data: [[${datelist17}]],
                        axisTick: {
                            alignWithLabel: true
                        }
                    }
                ],
                yAxis: [
                    {
                        type: 'value'
                    }
                ],
                legend: {

                },
                series: [
                    {
                        name: [[${userHealthDate17}]],
                        type: [[${showType17}]],
                        barWidth: '60%',
                        data: [[${valuelist17}]]
                    }
                ]
            };


            myChart.setOption(option);
        }
        if([[${datelist18}]] != null){
            var dataDate = "<a href='/updateHealth?id=[[${healthId18}]]' title='当前数据添加或修改功能' class='btn btn-success'  style='float: right'>修改/添加</a><br><div id='main"+i+"' style='height: 400px;width:100%' ></div>";
            $("#InputOne").append(dataDate);

            i++
            var myChart = echarts.init(document.getElementById("main18"));
            var option = {
                title: {
                    text: "参考区间:"+[[${max18}]]+"—"+[[${min18}]]
                },
                color: [[${color18}]],
                tooltip: {
                    trigger: 'axis',
                    axisPointer: {            // 坐标轴指示器，坐标轴触发有效
                        type: 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
                    }
                },
                grid: {
                    left: '3%',
                    right: '4%',
                    bottom: '3%',
                    containLabel: true
                },
                xAxis: [
                    {
                        type: 'category',
                        data: [[${datelist18}]],
                        axisTick: {
                            alignWithLabel: true
                        }
                    }
                ],
                yAxis: [
                    {
                        type: 'value'
                    }
                ],
                legend: {

                },
                series: [
                    {
                        name: [[${userHealthDate18}]],
                        type: [[${showType18}]],
                        barWidth: '60%',
                        data: [[${valuelist18}]]
                    }
                ]
            };


            myChart.setOption(option);
        }
        if([[${datelist19}]] != null){
            var dataDate = "<a href='/updateHealth?id=[[${healthId19}]]' title='当前数据添加或修改功能' class='btn btn-success'  style='float: right'>修改/添加</a><br><div id='main"+i+"' style='height: 400px;width:100%' ></div>";
            $("#InputOne").append(dataDate);

            i++
            var myChart = echarts.init(document.getElementById("main19"));
            var option = {
                title: {
                    text: "参考区间:"+[[${max19}]]+"—"+[[${min19}]]
                },
                color: [[${color19}]],
                tooltip: {
                    trigger: 'axis',
                    axisPointer: {            // 坐标轴指示器，坐标轴触发有效
                        type: 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
                    }
                },
                grid: {
                    left: '3%',
                    right: '4%',
                    bottom: '3%',
                    containLabel: true
                },
                xAxis: [
                    {
                        type: 'category',
                        data: [[${datelist19}]],
                        axisTick: {
                            alignWithLabel: true
                        }
                    }
                ],
                yAxis: [
                    {
                        type: 'value'
                    }
                ],
                legend: {

                },
                series: [
                    {
                        name: [[${userHealthDate19}]],
                        type: [[${showType19}]],
                        barWidth: '60%',
                        data: [[${valuelist19}]]
                    }
                ]
            };


            myChart.setOption(option);
        }
        if([[${datelist20}]] != null){
            var dataDate = "<a href='/updateHealth?id=[[${healthId20}]]' title='当前数据添加或修改功能' class='btn btn-success'  style='float: right'>修改/添加</a><br><div id='main"+i+"' style='height: 400px;width:100%' ></div>";
            $("#InputOne").append(dataDate);

            i++
            var myChart = echarts.init(document.getElementById("main20"));
            var option = {
                title: {
                    text: "参考区间:"+[[${max20}]]+"—"+[[${min20}]]
                },
                color: [[${color20}]],
                tooltip: {
                    trigger: 'axis',
                    axisPointer: {            // 坐标轴指示器，坐标轴触发有效
                        type: 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
                    }
                },
                grid: {
                    left: '3%',
                    right: '4%',
                    bottom: '3%',
                    containLabel: true
                },
                xAxis: [
                    {
                        type: 'category',
                        data: [[${datelist20}]],
                        axisTick: {
                            alignWithLabel: true
                        }
                    }
                ],
                yAxis: [
                    {
                        type: 'value'
                    }
                ],
                legend: {

                },
                series: [
                    {
                        name: [[${userHealthDate20}]],
                        type: [[${showType20}]],
                        barWidth: '60%',
                        data: [[${valuelist20}]]
                    }
                ]
            };


            myChart.setOption(option);
        }
        if([[${datelist21}]] != null){
            var dataDate = "<a href='/updateHealth?id=[[${healthId21}]]' title='当前数据添加或修改功能' class='btn btn-success'  style='float: right'>修改/添加</a><br><div id='main"+i+"' style='height: 400px;width:100%' ></div>";
            $("#InputOne").append(dataDate);

            i++
            var myChart = echarts.init(document.getElementById("main21"));
            var option = {
                title: {
                    text: "参考区间:"+[[${max21}]]+"—"+[[${min21}]]
                },
                color: [[${color21}]],
                tooltip: {
                    trigger: 'axis',
                    axisPointer: {            // 坐标轴指示器，坐标轴触发有效
                        type: 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
                    }
                },
                grid: {
                    left: '3%',
                    right: '4%',
                    bottom: '3%',
                    containLabel: true
                },
                xAxis: [
                    {
                        type: 'category',
                        data: [[${datelist21}]],
                        axisTick: {
                            alignWithLabel: true
                        }
                    }
                ],
                yAxis: [
                    {
                        type: 'value'
                    }
                ],
                legend: {

                },
                series: [
                    {
                        name: [[${userHealthDate21}]],
                        type: [[${showType21}]],
                        barWidth: '60%',
                        data: [[${valuelist21}]]
                    }
                ]
            };


            myChart.setOption(option);
        }
        if([[${datelist22}]] != null){
            var dataDate = "<a href='/updateHealth?id=[[${healthId22}]]' title='当前数据添加或修改功能' class='btn btn-success'  style='float: right'>修改/添加</a><br><div id='main"+i+"' style='height: 400px;width:100%' ></div>";
            $("#InputOne").append(dataDate);

            i++
            var myChart = echarts.init(document.getElementById("main22"));
            var option = {
                title: {
                    text: "参考区间:"+[[${max22}]]+"—"+[[${min22}]]
                },
                color: [[${color22}]],
                tooltip: {
                    trigger: 'axis',
                    axisPointer: {            // 坐标轴指示器，坐标轴触发有效
                        type: 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
                    }
                },
                grid: {
                    left: '3%',
                    right: '4%',
                    bottom: '3%',
                    containLabel: true
                },
                xAxis: [
                    {
                        type: 'category',
                        data: [[${datelist22}]],
                        axisTick: {
                            alignWithLabel: true
                        }
                    }
                ],
                yAxis: [
                    {
                        type: 'value'
                    }
                ],
                legend: {

                },
                series: [
                    {
                        name: [[${userHealthDate22}]],
                        type: [[${showType22}]],
                        barWidth: '60%',
                        data: [[${valuelist22}]]
                    }
                ]
            };


            myChart.setOption(option);
        }
        if([[${datelist23}]] != null){
            var dataDate = "<a href='/updateHealth?id=[[${healthId23}]]' title='当前数据添加或修改功能' class='btn btn-success'  style='float: right'>修改/添加</a><br><div id='main"+i+"' style='height: 400px;width:100%' ></div>";
            $("#InputOne").append(dataDate);

            i++
            var myChart = echarts.init(document.getElementById("main23"));
            var option = {
                title: {
                    text: "参考区间:"+[[${max23}]]+"—"+[[${min23}]]
                },
                color: [[${color23}]],
                tooltip: {
                    trigger: 'axis',
                    axisPointer: {            // 坐标轴指示器，坐标轴触发有效
                        type: 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
                    }
                },
                grid: {
                    left: '3%',
                    right: '4%',
                    bottom: '3%',
                    containLabel: true
                },
                xAxis: [
                    {
                        type: 'category',
                        data: [[${datelist23}]],
                        axisTick: {
                            alignWithLabel: true
                        }
                    }
                ],
                yAxis: [
                    {
                        type: 'value'
                    }
                ],
                legend: {

                },
                series: [
                    {
                        name: [[${userHealthDate23}]],
                        type: [[${showType23}]],
                        barWidth: '60%',
                        data: [[${valuelist23}]]
                    }
                ]
            };


            myChart.setOption(option);
        }
        if([[${datelist24}]] != null){
            var dataDate = "<a href='/updateHealth?id=[[${healthId24}]]' title='当前数据添加或修改功能' class='btn btn-success'  style='float: right'>修改/添加</a><br><div id='main"+i+"' style='height: 400px;width:100%' ></div>";
            $("#InputOne").append(dataDate);

            i++
            var myChart = echarts.init(document.getElementById("main24"));
            var option = {
                title: {
                    text: "参考区间:"+[[${max24}]]+"—"+[[${min24}]]
                },
                color: [[${color24}]],
                tooltip: {
                    trigger: 'axis',
                    axisPointer: {            // 坐标轴指示器，坐标轴触发有效
                        type: 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
                    }
                },
                grid: {
                    left: '3%',
                    right: '4%',
                    bottom: '3%',
                    containLabel: true
                },
                xAxis: [
                    {
                        type: 'category',
                        data: [[${datelist24}]],
                        axisTick: {
                            alignWithLabel: true
                        }
                    }
                ],
                yAxis: [
                    {
                        type: 'value'
                    }
                ],
                legend: {

                },
                series: [
                    {
                        name: [[${userHealthDate24}]],
                        type: [[${showType24}]],
                        barWidth: '60%',
                        data: [[${valuelist24}]]
                    }
                ]
            };


            myChart.setOption(option);
        }
        if([[${datelist25}]] != null){
            var dataDate = "<a href='/updateHealth?id=[[${healthId25}]]' title='当前数据添加或修改功能' class='btn btn-success'  style='float: right'>修改/添加</a><br><div id='main"+i+"' style='height: 400px;width:100%' ></div>";
            $("#InputOne").append(dataDate);

            i++
            var myChart = echarts.init(document.getElementById("main25"));
            var option = {
                title: {
                    text: "参考区间:"+[[${max25}]]+"—"+[[${min25}]]
                },
                color: [[${color25}]],
                tooltip: {
                    trigger: 'axis',
                    axisPointer: {            // 坐标轴指示器，坐标轴触发有效
                        type: 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
                    }
                },
                grid: {
                    left: '3%',
                    right: '4%',
                    bottom: '3%',
                    containLabel: true
                },
                xAxis: [
                    {
                        type: 'category',
                        data: [[${datelist25}]],
                        axisTick: {
                            alignWithLabel: true
                        }
                    }
                ],
                yAxis: [
                    {
                        type: 'value'
                    }
                ],
                legend: {

                },
                series: [
                    {
                        name: [[${userHealthDate25}]],
                        type: [[${showType25}]],
                        barWidth: '60%',
                        data: [[${valuelist25}]]
                    }
                ]
            };


            myChart.setOption(option);
        }
        if([[${datelist26}]] != null){
            var dataDate = "<a href='/updateHealth?id=[[${healthId26}]]' title='当前数据添加或修改功能' class='btn btn-success'  style='float: right'>修改/添加</a><br><div id='main"+i+"' style='height: 400px;width:100%' ></div>";
            $("#InputOne").append(dataDate);

            i++
            var myChart = echarts.init(document.getElementById("main26"));
            var option = {
                title: {
                    text: "参考区间:"+[[${max26}]]+"—"+[[${min26}]]
                },
                color: [[${color26}]],
                tooltip: {
                    trigger: 'axis',
                    axisPointer: {            // 坐标轴指示器，坐标轴触发有效
                        type: 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
                    }
                },
                grid: {
                    left: '3%',
                    right: '4%',
                    bottom: '3%',
                    containLabel: true
                },
                xAxis: [
                    {
                        type: 'category',
                        data: [[${datelist26}]],
                        axisTick: {
                            alignWithLabel: true
                        }
                    }
                ],
                yAxis: [
                    {
                        type: 'value'
                    }
                ],
                legend: {

                },
                series: [
                    {
                        name: [[${userHealthDate26}]],
                        type: [[${showType26}]],
                        barWidth: '60%',
                        data: [[${valuelist26}]]
                    }
                ]
            };


            myChart.setOption(option);
        }

</script>
</html>