<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
<title>张全蛋健康管理中心</title>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/bootstrap-responsive.min.css" />
    <link rel="stylesheet" href="css/colorpicker.css" />
    <link rel="stylesheet" href="css/datepicker.css" />
    <link rel="stylesheet" href="css/uniform.css" />
    <link rel="stylesheet" href="css/select2.css" />
    <link rel="stylesheet" href="css/matrix-style.css" />
    <link rel="stylesheet" href="css/matrix-media.css" />
    <link rel="stylesheet" href="css/bootstrap-wysihtml5.css" />
    <link href="font-awesome/css/font-awesome.css" rel="stylesheet" />
</head>
<body>

<!--引入模板-->
<div th:insert="~{/frame::home}"></div>

<!--主页-->
<div id="content">
  <div id="content-header">
    <div id="breadcrumb"> <a th:href="@{/index}" title="返回首页" class="tip-bottom"><i class="icon-home"></i> 主页</a></div>
  </div>
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span12">
      <div class="widget-box">
        <div class="widget-title"> <span class="icon"> <i class="icon-align-justify"></i> </span>
          <h5>修改健康数据</h5>
        </div>
        <div class="widget-content nopadding">
          <form th:action="@{/addHealthData}" method="post" class="form-horizontal">
            <div class="control-group">
              <label class="control-label">名称:</label>
              <div class="controls">
                <input type="text" class="span11" placeholder="请填写数据名称" name="health_name" th:value="${user.getHealth_name()}"/>
              </div>
            </div>
            <div class="control-group">
              <label class="control-label">颜色:</label>
              <div class="controls">
                <input type="color" class="span11" placeholder="请填写颜色" name="health_color" style="width: 13%" th:value="${user.getHealth_color()}"/>
              </div>
            </div>
            <div class="control-group">
              <label class="control-label">展示样式:</label>
              <div class="controls">
                <img src="img/折线图.png" style="width: 30%;height: 30%"><input type="radio" class="span11"  name="show_type" th:value="line" style="width: 10%" th:checked="${user.getShow_type()=='line'}">折线图<br>
                <img src="img/柱状图.png" style="width: 30%;height: 30%"><input type="radio" class="span11"  name="show_type" th:value="bar" style="width: 10%"  th:checked="${user.getShow_type()=='bar'}"/>柱状图
              </div>
            </div>
            <div class="control-group">
              <label class="control-label">正常值范围:</label>
              <div class="controls">
                <input type="text" class="span11" placeholder="最高值" name="health_scope_max" style="width: 30%" th:value="${user.getHealth_scope_max()}"/> -
                <input type="text" class="span11" placeholder="最低值" name="health_scope_min" style="width: 30%" th:value="${user.getHealth_scope_min()}"/>
              </div>
            </div>
            <!--按钮实现添加数据-->
            <div id="InputOne" style="text-align: center">
              <label class='control-label'>第1条数据</label>
              日期: <input type='date'  class='dataDate' name='data_date1' style='width: 30%' th:value="${user.getData_date1()}"/><br>
              数值: <input type='text' class='dateValue' placeholder='请填写检测数值' name='data_value1' style='width: 30%' th:value="${user.getData_value1()}"/><br><hr>
              <label class='control-label'>第2条数据</label>
              日期: <input type='date'  class='dataDate' name='data_date2' style='width: 30%' th:value="${user.getData_date2()}"/><br>
              数值: <input type='text' class='dateValue' placeholder='请填写检测数值' name='data_value2' style='width: 30%' th:value="${user.getData_value2()}"/><br><hr>
              <label class='control-label'>第3条数据</label>
              日期: <input type='date'  class='dataDate' name='data_date3' style='width: 30%' th:value="${user.getData_date3()}"/><br>
              数值: <input type='text' class='dateValue' placeholder='请填写检测数值' name='data_value3' style='width: 30%' th:value="${user.getData_value3()}"/><br><hr>
              <label class='control-label'>第4条数据</label>
              日期: <input type='date'  class='dataDate' name='data_date4' style='width: 30%' th:value="${user.getData_date4()}"/><br>
              数值: <input type='text' class='dateValue' placeholder='请填写检测数值' name='data_value4' style='width: 30%' th:value="${user.getData_value4()}"/><br><hr>
              <label class='control-label'>第5条数据</label>
              日期: <input type='date'  class='dataDate' name='data_date5' style='width: 30%' th:value="${user.getData_date5()}"/><br>
              数值: <input type='text' class='dateValue' placeholder='请填写检测数值' name='data_value5' style='width: 30%' th:value="${user.getData_value5()}"/><br><hr>
              <label class='control-label'>第6条数据</label>
              日期: <input type='date'  class='dataDate' name='data_date6' style='width: 30%' th:value="${user.getData_date6()}"/><br>
              数值: <input type='text' class='dateValue' placeholder='请填写检测数值' name='data_value6' style='width: 30%' th:value="${user.getData_value6()}"/><br><hr>
              <label class='control-label'>第7条数据</label>
              日期: <input type='date'  class='dataDate' name='data_date7' style='width: 30%' th:value="${user.getData_date7()}"/><br>
              数值: <input type='text' class='dateValue' placeholder='请填写检测数值' name='data_value7' style='width: 30%' th:value="${user.getData_value7()}"/><br><hr>
              <label class='control-label'>第8条数据</label>
              日期: <input type='date'  class='dataDate' name='data_date8' style='width: 30%' th:value="${user.getData_date8()}"/><br>
              数值: <input type='text' class='dateValue' placeholder='请填写检测数值' name='data_value8' style='width: 30%' th:value="${user.getData_value8()}"/><br><hr>
              <label class='control-label'>第9条数据</label>
              日期: <input type='date'  class='dataDate' name='data_date9' style='width: 30%' th:value="${user.getData_date9()}"/><br>
              数值: <input type='text' class='dateValue' placeholder='请填写检测数值' name='data_value9' style='width: 30%' th:value="${user.getData_value9()}"/><br><hr>
              <label class='control-label'>第11条数据</label>
              日期: <input type='date'  class='dataDate' name='data_date11' style='width: 30%' th:value="${user.getData_date11()}"/><br>
              数值: <input type='text' class='dateValue' placeholder='请填写检测数值' name='data_value11' style='width: 30%' th:value="${user.getData_value11()}"/><br><hr>
              <label class='control-label'>第12条数据</label>
              日期: <input type='date'  class='dataDate' name='data_date12' style='width: 30%' th:value="${user.getData_date12()}"/><br>
              数值: <input type='text' class='dateValue' placeholder='请填写检测数值' name='data_value12' style='width: 30%' th:value="${user.getData_value12()}"/><br><hr>
              <label class='control-label'>第13条数据</label>
              日期: <input type='date'  class='dataDate' name='data_date13' style='width: 30%' th:value="${user.getData_date13()}"/><br>
              数值: <input type='text' class='dateValue' placeholder='请填写检测数值' name='data_value13' style='width: 30%' th:value="${user.getData_value13()}"/><br><hr>
              <label class='control-label'>第14条数据</label>
              日期: <input type='date'  class='dataDate' name='data_date14' style='width: 30%' th:value="${user.getData_date14()}"/><br>
              数值: <input type='text' class='dateValue' placeholder='请填写检测数值' name='data_value14' style='width: 30%' th:value="${user.getData_value14()}"/><br><hr>
              <label class='control-label'>第15条数据</label>
              日期: <input type='date'  class='dataDate' name='data_date15' style='width: 30%' th:value="${user.getData_date15()}"/><br>
              数值: <input type='text' class='dateValue' placeholder='请填写检测数值' name='data_value15' style='width: 30%' th:value="${user.getData_value15()}"/><br><hr>
              <label class='control-label'>第16条数据</label>
              日期: <input type='date'  class='dataDate' name='data_date16' style='width: 30%' th:value="${user.getData_date16()}"/><br>
              数值: <input type='text' class='dateValue' placeholder='请填写检测数值' name='data_value16' style='width: 30%' th:value="${user.getData_value16()}"/><br><hr>
              <label class='control-label'>第17条数据</label>
              日期: <input type='date'  class='dataDate' name='data_date17' style='width: 30%' th:value="${user.getData_date17()}"/><br>
              数值: <input type='text' class='dateValue' placeholder='请填写检测数值' name='data_value17' style='width: 30%' th:value="${user.getData_value17()}"/><br><hr>
              <label class='control-label'>第18条数据</label>
              日期: <input type='date'  class='dataDate' name='data_date18' style='width: 30%' th:value="${user.getData_date18()}"/><br>
              数值: <input type='text' class='dateValue' placeholder='请填写检测数值' name='data_value18' style='width: 30%' th:value="${user.getData_value18()}"/><br><hr>
              <label class='control-label'>第19条数据</label>
              日期: <input type='date'  class='dataDate' name='data_date19' style='width: 30%' th:value="${user.getData_date19()}"/><br>
              数值: <input type='text' class='dateValue' placeholder='请填写检测数值' name='data_value19' style='width: 30%' th:value="${user.getData_value19()}"/><br><hr>
              <label class='control-label'>第20条数据</label>
              日期: <input type='date'  class='dataDate' name='data_date20' style='width: 30%' th:value="${user.getData_date20()}"/><br>
              数值: <input type='text' class='dateValue' placeholder='请填写检测数值' name='data_value20' style='width: 30%' th:value="${user.getData_value20()}"/><br><hr>
              <label class='control-label'>第21条数据</label>
              日期: <input type='date'  class='dataDate' name='data_date21' style='width: 30%' th:value="${user.getData_date21()}"/><br>
              数值: <input type='text' class='dateValue' placeholder='请填写检测数值' name='data_value21' style='width: 30%' th:value="${user.getData_value21()}"/><br><hr>

              <label class='control-label'>第22条数据</label>
              日期: <input type='date'  class='dataDate' name='data_date22' style='width: 30%' th:value="${user.getData_date22()}"/><br>
              数值: <input type='text' class='dateValue' placeholder='请填写检测数值' name='data_value22' style='width: 30%' th:value="${user.getData_value22()}"/><br><hr>

              <label class='control-label'>第23条数据</label>
              日期: <input type='date'  class='dataDate' name='data_date23' style='width: 30%' th:value="${user.getData_date23()}"/><br>
              数值: <input type='text' class='dateValue' placeholder='请填写检测数值' name='data_value23' style='width: 30%' th:value="${user.getData_value23()}"/><br><hr>

              <label class='control-label'>第24条数据</label>
              日期: <input type='date'  class='dataDate' name='data_date24' style='width: 30%' th:value="${user.getData_date24()}"/><br>
              数值: <input type='text' class='dateValue' placeholder='请填写检测数值' name='data_value24' style='width: 30%' th:value="${user.getData_value24()}"/><br><hr>

              <label class='control-label'>第25条数据</label>
              日期: <input type='date'  class='dataDate' name='data_date25' style='width: 30%' th:value="${user.getData_date25()}"/><br>
              数值: <input type='text' class='dateValue' placeholder='请填写检测数值' name='data_value25' style='width: 30%' th:value="${user.getData_value25()}"/><br><hr>

              <label class='control-label'>第26条数据</label>
              日期: <input type='date'  class='dataDate' name='data_date26' style='width: 30%' th:value="${user.getData_date26()}"/><br>
              数值: <input type='text' class='dateValue' placeholder='请填写检测数值' name='data_value26' style='width: 30%' th:value="${user.getData_value26()}"/><br><hr>

              <label class='control-label'>第27条数据</label>
              日期: <input type='date'  class='dataDate' name='data_date27' style='width: 30%' th:value="${user.getData_date27()}"/><br>
              数值: <input type='text' class='dateValue' placeholder='请填写检测数值' name='data_value27' style='width: 30%' th:value="${user.getData_value27()}"/><br><hr>

              <label class='control-label'>第28条数据</label>
              日期: <input type='date'  class='dataDate' name='data_date28' style='width: 30%' th:value="${user.getData_date28()}"/><br>
              数值: <input type='text' class='dateValue' placeholder='请填写检测数值' name='data_value28' style='width: 30%' th:value="${user.getData_value28()}"/><br><hr>

              <label class='control-label'>第29条数据</label>
              日期: <input type='date'  class='dataDate' name='data_date29' style='width: 30%' th:value="${user.getData_date29()}"/><br>
              数值: <input type='text' class='dateValue' placeholder='请填写检测数值' name='data_value29' style='width: 30%' th:value="${user.getData_value29()}"/><br><hr>

              <label class='control-label'>第30条数据</label>
              日期: <input type='date'  class='dataDate' name='data_date30' style='width: 30%' th:value="${user.getData_date30()}"/><br>
              数值: <input type='text' class='dateValue' placeholder='请填写检测数值' name='data_value30' style='width: 30%' th:value="${user.getData_value30()}"/><br><hr>

              <label class='control-label'>第31条数据</label>
              日期: <input type='date'  class='dataDate' name='data_date31' style='width: 30%' th:value="${user.getData_date31()}"/><br>
              数值: <input type='text' class='dateValue' placeholder='请填写检测数值' name='data_value31' style='width: 30%' th:value="${user.getData_value31()}"/><br><hr>

              <label class='control-label'>第32条数据</label>
              日期: <input type='date'  class='dataDate' name='data_date32' style='width: 30%' th:value="${user.getData_date32()}"/><br>
              数值: <input type='text' class='dateValue' placeholder='请填写检测数值' name='data_value32' style='width: 30%' th:value="${user.getData_value32()}"/><br><hr>

              <label class='control-label'>第33条数据</label>
              日期: <input type='date'  class='dataDate' name='data_date33' style='width: 30%' th:value="${user.getData_date33()}"/><br>
              数值: <input type='text' class='dateValue' placeholder='请填写检测数值' name='data_value33' style='width: 30%' th:value="${user.getData_value33()}"/><br><hr>

              <label class='control-label'>第条34数据</label>
              日期: <input type='date'  class='dataDate' name='data_date34' style='width: 30%' th:value="${user.getData_date34()}"/><br>
              数值: <input type='text' class='dateValue' placeholder='请填写检测数值' name='data_value34' style='width: 30%' th:value="${user.getData_value34()}"/><br><hr>

              <label class='control-label'>第35条数据</label>
              日期: <input type='date'  class='dataDate' name='data_date35' style='width: 30%' th:value="${user.getData_date35()}"/><br>
              数值: <input type='text' class='dateValue' placeholder='请填写检测数值' name='data_value35' style='width: 30%' th:value="${user.getData_value35()}"/><br><hr>

              <label class='control-label'>第36条数据</label>
              日期: <input type='date'  class='dataDate' name='data_date36' style='width: 30%' th:value="${user.getData_date36()}"/><br>
              数值: <input type='text' class='dateValue' placeholder='请填写检测数值' name='data_value36' style='width: 30%' th:value="${user.getData_value36()}"/><br><hr>

              <label class='control-label'>第37条数据</label>
              日期: <input type='date'  class='dataDate' name='data_date37' style='width: 30%' th:value="${user.getData_date37()}"/><br>
              数值: <input type='text' class='dateValue' placeholder='请填写检测数值' name='data_value37' style='width: 30%' th:value="${user.getData_value37()}"/><br><hr>

              <label class='control-label'>第38条数据</label>
              日期: <input type='date'  class='dataDate' name='data_date38' style='width: 30%' th:value="${user.getData_date38()}"/><br>
              数值: <input type='text' class='dateValue' placeholder='请填写检测数值' name='data_value38' style='width: 30%' th:value="${user.getData_value38()}"/><br><hr>

              <label class='control-label'>第39条数据</label>
              日期: <input type='date'  class='dataDate' name='data_date39' style='width: 30%' th:value="${user.getData_date39()}"/><br>
              数值: <input type='text' class='dateValue' placeholder='请填写检测数值' name='data_value39' style='width: 30%' th:value="${user.getData_value39()}"/><br><hr>

              <label class='control-label'>第40条数据</label>
              日期: <input type='date'  class='dataDate' name='data_date40' style='width: 30%' th:value="${user.getData_date40()}"/><br>
              数值: <input type='text' class='dateValue' placeholder='请填写检测数值' name='data_value40' style='width: 30%' th:value="${user.getData_value40()}"/><br><hr>

              <label class='control-label'>第41条数据</label>
              日期: <input type='date'  class='dataDate' name='data_date41' style='width: 30%' th:value="${user.getData_date41()}"/><br>
              数值: <input type='text' class='dateValue' placeholder='请填写检测数值' name='data_value41' style='width: 30%' th:value="${user.getData_value41()}"/><br><hr>

              <label class='control-label'>第42条数据</label>
              日期: <input type='date'  class='dataDate' name='data_date42' style='width: 30%' th:value="${user.getData_date42()}"/><br>
              数值: <input type='text' class='dateValue' placeholder='请填写检测数值' name='data_value42' style='width: 30%' th:value="${user.getData_value42()}"/><br><hr>

              <label class='control-label'>第43条数据</label>
              日期: <input type='date'  class='dataDate' name='data_date43' style='width: 30%' th:value="${user.getData_date43()}"/><br>
              数值: <input type='text' class='dateValue' placeholder='请填写检测数值' name='data_value43' style='width: 30%' th:value="${user.getData_value43()}"/><br><hr>

              <label class='control-label'>第44条数据</label>
              日期: <input type='date'  class='dataDate' name='data_date44' style='width: 30%' th:value="${user.getData_date44()}"/><br>
              数值: <input type='text' class='dateValue' placeholder='请填写检测数值' name='data_value44' style='width: 30%' th:value="${user.getData_value44()}"/><br><hr>

              <label class='control-label'>第45条数据</label>
              日期: <input type='date'  class='dataDate' name='data_date45' style='width: 30%' th:value="${user.getData_date45()}"/><br>
              数值: <input type='text' class='dateValue' placeholder='请填写检测数值' name='data_value45' style='width: 30%' th:value="${user.getData_value45()}"/><br><hr>

              <label class='control-label'>第46条数据</label>
              日期: <input type='date'  class='dataDate' name='data_date46' style='width: 30%' th:value="${user.getData_date46()}"/><br>
              数值: <input type='text' class='dateValue' placeholder='请填写检测数值' name='data_value46' style='width: 30%' th:value="${user.getData_value46()}"/><br><hr>

              <label class='control-label'>第47条数据</label>
              日期: <input type='date'  class='dataDate' name='data_date47' style='width: 30%' th:value="${user.getData_date47()}"/><br>
              数值: <input type='text' class='dateValue' placeholder='请填写检测数值' name='data_value47' style='width: 30%' th:value="${user.getData_value47()}"/><br><hr>

              <label class='control-label'>第48条数据</label>
              日期: <input type='date'  class='dataDate' name='data_date48' style='width: 30%' th:value="${user.getData_date48()}"/><br>
              数值: <input type='text' class='dateValue' placeholder='请填写检测数值' name='data_value48' style='width: 30%' th:value="${user.getData_value48()}"/><br><hr>

              <label class='control-label'>第49条数据</label>
              日期: <input type='date'  class='dataDate' name='data_date49' style='width: 30%' th:value="${user.getData_date49()}"/><br>
              数值: <input type='text' class='dateValue' placeholder='请填写检测数值' name='data_value49' style='width: 30%' th:value="${user.getData_value49()}"/><br><hr>

              <label class='control-label'>第50条数据</label>
              日期: <input type='date'  class='dataDate' name='data_date50' style='width: 30%' th:value="${user.getData_date50()}"/><br>
              数值: <input type='text' class='dateValue' placeholder='请填写检测数值' name='data_value50' style='width: 30%' th:value="${user.getData_value50()}"/><br><hr>

            </div>
            <div class="control-group">
              <label class="control-label">备注</label>
              <div class="controls">
                <textarea class="span11" name="remarks"  th:value="${user.getRemarks()}"></textarea>
              </div>
            </div>
            <div class="form-actions">
              <button type="submit" class="btn btn-success">确认修改</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<!--end-Footer-part--> 
<script src="js/jquery.min.js"></script> 
<script src="js/jquery.ui.custom.js"></script> 
<script src="js/bootstrap.min.js"></script> 
<script src="js/bootstrap-colorpicker.js"></script> 
<script src="js/bootstrap-datepicker.js"></script> 
<script src="js/jquery.toggle.buttons.html"></script> 
<script src="js/masked.js"></script> 
<script src="js/jquery.uniform.js"></script> 
<script src="js/select2.min.js"></script> 
<script src="js/matrix.js"></script> 
<script src="js/matrix.form_common.js"></script> 
<script src="js/wysihtml5-0.3.0.js"></script> 
<script src="js/jquery.peity.min.js"></script>
<script>
	$('.textarea_editor').wysihtml5();
</script>
</body>
</html>
