<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
    <!--登录页面-->
<head>
        <title>登录页面</title><meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="/css/bootstrap.css" />
		<link rel="stylesheet" href="/css/bootstrap-responsive.min.css" />
        <link rel="stylesheet" href="/css/matrix-login.css" />
        <link href="/font-awesome/css/font-awesome.css" rel="stylesheet" />
    </head>
    <body>
        <div id="loginbox">            
            <form id="loginform" class="form-vertical" th:action="@{/toIndex}" method="post">
				 <div class="control-group normal_text"> <h3><img src="img/logo.jpg" alt="Logo" style="height: 60px;width: 60px"/>&nbsp;张全蛋健康管理系统</h3></div>
                <div class="control-group">
                    <div class="controls">
                        <div class="main_input_box">
                            <span class="add-on bg_lg" style="width: 13%"><i class="icon-user"></i></span>
                            <input type="text" placeholder="用户名" name="login_name"/>
                        </div>
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <div class="main_input_box">
                            <span class="add-on bg_lg" style="width: 13%"><i class="glyphicon glyphicon-link"></i></span>
                            <input type="password" placeholder="密码" name="password"/>
                        </div>
                    </div>
                </div>
                <div   th:text="${UserError}" style="color: red;text-align: center" ></div>
                <div class="form-actions">
                    <span class="pull-left"><a th:href="@{/register}" class="flip-link btn btn-info" id="to-recover">注册</a></span>
                    <span class="pull-right"><input type="submit" class="btn btn-success" value="登录"></span>
                </div>
            </form>
        </div>
        <script src="/js/jquery.min.js"></script>
        <script src="/js/matrix.login.js"></script>
    </body>

</html>
