<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<!--登录页面-->
<head>
    <title>登录页面</title><meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" th:href="@{css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{css/bootstrap-responsive.min.css}" />
    <link rel="stylesheet" th:href="@{css/matrix-login.css}" />
    <link th:href="@{font-awesome/css/font-awesome.css}" rel="stylesheet" />
</head>
<body>
<div id="loginbox">
    <form id="loginform" class="form-vertical" th:action="@{/addUser}" method="post">
        <div class="control-group normal_text"> <h3><img src="img/logo.jpg" alt="Logo" style="height: 60px;width: 60px"/>&nbsp;用户注册</h3></div>
        <div class="control-group">
            <div class="controls">
                <div class="main_input_box">
                    <span class="add-on bg_lg"><i class="icon-user"></i></span>
                    <input type="text" placeholder="用户名" name="login_name" />
                </div>
            </div>
            <div th:text="${UserError}" class="btn btn-danger"></div>
        </div>
        <div class="control-group">
            <div class="controls">
                <div class="main_input_box">
                    <span class="add-on bg_ly"><i class="icon-lock"></i></span>
                    <input type="text" placeholder="密码" name="password" />
                </div>
            </div>
        </div>
        <div class="form-actions" style="left: 50%">
            <span class="pull-right"><input type="submit" class="btn btn-success" value="确认注册"/></input></span>
        </div>
    </form>
</div>
<script th:src="@{js/jquery.min.js}"></script>
<script th:src="@{js/matrix.login.js}"></script>
</body>

</html>
