<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<!--登录页面-->
<head>
    <title>登录页面</title><meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/bootstrap-responsive.min.css" />
    <link rel="stylesheet" href="/css/matrix-login.css" />
    <link href="/font-awesome/css/font-awesome.css" rel="stylesheet" />
</head>
<body>
<div id="loginbox">
    <form id="loginform" class="form-vertical" th:action="@{/addUser}" method="post">
        <div class="control-group normal_text"> <h3><img src="img/logo.jpg" alt="Logo" style="height: 60px;width: 60px"/>&nbsp;用户注册</h3></div>
        <div class="control-group">
            <div class="controls">
                <div class="main_input_box">
                    <span class="add-on bg_lg" style="width: 13%"><i class="icon-user"></i></span>
                    <input type="text"  required="required" placeholder="用户名" name="login_name"
                           onkeyup="value=value.replace(/[/d]/g,'') "
                           onbeforepaste="clipboardData.setData('text',clipboardData.getData('text').replace(/[/d]/g,''))"
                           maxlength=20 />
                    <div>最多只能输入20个字母或者汉字</div>
                </div>
            </div>
            <div   th:text="${UserError}" style="color: red;text-align: center" ></div>
        </div>
        <div class="control-group">
            <div class="controls">
                <div class="main_input_box ">
                    <span class="add-on bg_lg" style="width: 13%"><i class="glyphicon glyphicon-link"></i></span>
                    <input type="password" placeholder="密码" name="password"  required="required"/>
                </div>
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <div class="main_input_box">
                    <div class="add-on bg_ly" style="width: 13%"> <i class="glyphicon glyphicon-envelope"></i></div>
                    <input type="text" placeholder="邮箱" name="email"/>
                </div>
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <div class="main_input_box">
                    <span class="add-on bg_ly" style="width: 13%"><i class="glyphicon glyphicon-phone"></i></span>
                    <input type="text" placeholder="手机号" name="mobile" onkeyup="this.value=this.value.replace(/\D/g,'')" onafterpaste="this.value=this.value.replace(/\D/g,'')"/>
                </div>
            </div>
        </div>
        <!--<div class="control-group">-->
            <!--<div class="controls">-->
                <!--<div class="main_input_box">-->
                    <!--<span class="add-on bg_ly" style="width: 13%"><i class="glyphicon glyphicon-calendar"></i></span>-->
                    <!--<input type="date" placeholder="生日" name="userBirthday" />-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
        <div class="form-actions" style="left: 50%">
            <span class="pull-right"><input type="submit" class="btn btn-success" value="确认注册"/></input></span>
            <span class="pull-left"><a th:href="@{/login}" class="btn btn-danger"/> 返回登录</a></span>
        </div>
    </form>
</div>
<script src="js/jquery.min.js"></script>
<script src="js/matrix.login.js"></script>
</body>
</html>
