<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhangbin.mapper.UserMapper">

    <select id="queryUserByName" resultType="user" parameterType="String">
      select * from health.user where login_name = #{login_name}
    </select>
    <!--查询密码-->
    <select id="queryPermissionById" resultType="permission">
      select * from health.permission where userId = #{userId}
    </select>
    <!--注册用户-->
    <insert id="addUser" parameterType="user">
        insert into health.user(login_name,password,gen_time,email,mobile) values (#{login_name},#{password},#{gen_time},#{email},#{mobile})
    </insert>
    <!--根据用户名查询用户信息-->
    <select id="queryUser" resultType="user" >
        select * from health.user where login_name = #{login_name}
    </select>
    <!--根据用户名查询密码-->
    <select id="queryUserPassword" resultType="String" >
        select password from health.user where login_name = #{login_name}
    </select>
    <!--用户添加健康数据-->
    <insert id="addUserHealthData" parameterType="userhealthdate">
        insert into health.permission(health_name,health_score,health_time,health_scope_min,
                    health_scope_max,remarks,user_id,health_color,show_type,iscollect,add_time)
        values (#{health_name},#{health_score},#{health_time},#{health_scope_min},#{health_scope_max},
                #{remarks},#{user_id},#{health_color},#{show_type},#{iscollect},#{add_time})
    </insert>
   <!--根据用户id查询所有健康数据-->
   <select id="queryHealthDataById" resultType="UserHealthDate" >
       select * from permission where user_id = #{user_id};
   </select>

   <!--根据用户id查询最新的一条数据-->
   <select id="queryNewHealthDataById" resultType="UserHealthDate" >
       select * from permission where user_id = #{user_id}  ORDER BY id DESC LIMIT 1 ;
   </select>
    <!--查询用户特别关注的数据-->
   <select id="querySpecialFocusById" resultType="UserHealthDate" >
       select * from permission where user_id = #{user_id} and iscollect = '1';
   </select>



</mapper>