<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <title>个人健康管理中心</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--<link rel="stylesheet" href="/css/bootstrap.css" />-->
    <link rel="stylesheet" href="/css/bootstrap.css" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/bootstrap-responsive.min.css" />
    <link rel="stylesheet" href="/css/fullcalendar.css" />
    <link rel="stylesheet" href="/css/matrix-style.css" />
    <link rel="stylesheet" href="/css/matrix-media.css" />
    <link href="/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/jquery.gritter.css" />
    <!--<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,800' rel='stylesheet' type='text/css'>-->
</head>
<body>

<div th:fragment="home">
<!--logo展示-->
<div id="header">
    <img src="img/zhangquandan.jpg" style="height: 55px;width: 55px;margin-left: 1%;margin-top: 0.8%" class="img-circle" align="middle" >
    <span>&nbsp;&nbsp;<a href="#" style="color: #f1fff8;" ><b style="font-size: 15px">欢迎您:&nbsp;&nbsp;[[${session.username}]]</b></a></span>
</div>

<!--标题栏-->
<div id="user-nav" class="navbar navbar-inverse" >
   <!--个人中心按钮-->
    <div class="btn-group">
        <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            个人中心 <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li><a href="#">编辑个人信息</a></li>
            <li><a href="#">邮箱</a></li>
            <li><a href="#">消息通知</a></li>
            <li role="separator" class="divider"></li>

            <li><a th:href="@{/logout}">退出登录</a></li>
        </ul>
    </div>
    <!--邮箱-->
    <div class="btn-group">
        <a th:href="@{/logout}" class="btn btn-primary" role="button"><span class="glyphicon glyphicon-envelope"></span>我的邮箱</a><span class="glyphicon glyphicon-envelope"></span>
    </div>
    <!--个人日记-->
    <div class="btn-group">
        <a th:href="@{/logout}" class="btn btn-primary" role="button"><span class="glyphicon glyphicon-envelope"></span>我的日记</a><span class="glyphicon glyphicon-envelope"></span>
    </div>
<!--退出登录-->
    <div class="btn-group">
        <a th:href="@{/logout}" class="btn btn-default btn-lg disabled"role="button">退出登录</a>
    </div>
</div>
<!--搜索框-->
<div id="search">
    <input type="text" placeholder="请输入"/>
    <button type="submit" class="tip-bottom" title="Search"><i class="icon-search icon-white"></i></button>
</div>
<!--左侧功能模块-->
<div id="sidebar">
    <ul>
        <li class="active"><a th:href="@{/index}"><i class="icon icon-home"></i> <span>个人主页</span></a> </li>
        <li> <a th:href="@{/charts}"><i class="icon-dashboard"></i> <span>健康数据</span></a> </li>
        <li> <a th:href="@{/specialfocus}"><i class="icon-star"></i> <span>特别关注</span></a></li>
        <li class="submenu">
            <a href="#"><i class="icon-tint"></i> <span>健康预警</span>
                <span class="label label-important">3</span>
            </a>
        </li>
        <li><a th:href="@{/toaddhealth}"><i class="icon icon-pencil"></i> <span>添加数据</span></a></li>
        <li class="submenu"> <a href="#"><i class="icon icon-file"></i> <span>使用说明</span>
            <span class="label label-important">5</span></a>
            <ul>
                <li><a href="index2.html">Dashboard2</a></li>
                <li><a href="gallery.html">Gallery</a></li>
                <li><a href="calendar.html">Calendar</a></li>
                <li><a href="invoice.html">Invoice</a></li>
                <li><a href="chat.html">Chat option</a></li>
            </ul>
        </li>
        <li class="submenu"> <a href="#"><i class="icon icon-info-sign"></i> <span>错误信息</span> <span class="label label-important">4</span></a>
            <ul>
                <li><a href="error403.html">Error 403</a></li>
                <li><a href="error404.html">Error 404</a></li>
                <li><a href="error405.html">Error 405</a></li>
                <li><a href="error500.html">Error 500</a></li>
            </ul>
        </li>
        <li class="content"> <span>个人信息完整度</span>
            <div class="progress progress-mini progress-danger active progress-striped">
                <div style="width: 77%;" class="bar"></div>
            </div>
            <span class="percent">77%</span>
        </li>

        <li class="content"> <span>血糖</span>
            <div class="progress progress-mini active progress-striped">
                <div style="width: 87%;" class="bar"></div>
            </div>
            <span class="percent">87%</span>
        </li>
        <li class="content"> <span>血氧饱和度</span>
            <div class="progress progress-mini active progress-striped">
                <div style="width: 87%;" class="bar"></div>
            </div>
            <span class="percent">87%</span>
        </li>
        <li class="content"> <span>健康指数</span>
            <div class="progress progress-mini active progress-striped">
                <div style="width: 87%;" class="bar"></div>
            </div>
            <span class="percent">87%</span>
        </li>
    </ul>
</div>
</div>



<script src="/js/excanvas.min.js"></script>
<script src="/js/jquery.min.js"></script>
<script src="/js/jquery.ui.custom.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/jquery.flot.min.js"></script>
<script src="/js/jquery.flot.resize.min.js"></script>
<script src="/js/jquery.peity.min.js"></script>
<script src="/js/fullcalendar.min.js"></script>
<script src="/js/matrix.js"></script>
<script src="/js/matrix.dashboard.js"></script>
<script src="/js/jquery.gritter.min.js"></script>
<script src="/js/matrix.interface.js"></script>
<script src="/js/matrix.chat.js"></script>
<script src="/js/jquery.validate.js"></script>
<script src="/js/matrix.form_validation.js"></script>
<script src="/js/jquery.wizard.js"></script>
<script src="/js/jquery.uniform.js"></script>
<script src="/js/select2.min.js"></script>
<script src="/js/matrix.popover.js"></script>
<script src="/js/jquery.dataTables.min.js"></script>
<script src="/js/matrix.tables.js"></script>

<script type="text/javascript">
    // This function is called from the pop-up menus to transfer to
    // a different page. Ignore if the value returned is a null string:
    function goPage (newURL) {

        // if url is empty, skip the menu dividers and reset the menu selection to default
        if (newURL != "") {

            // if url is "-", it is this page -- reset the menu:
            if (newURL == "-" ) {
                resetMenu();
            }
            // else, send page to designated URL
            else {
                document.location.href = newURL;
            }
        }
    }

    // resets the menu selection upon entry to this page:
    function resetMenu() {
        document.gomenu.selector.selectedIndex = 2;
    }
</script>
</body>
</html>
